body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#board{
    background-image: url('../../assets/img/flappybirdbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
